<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device=width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="shafeek">
    <form action="">
        <h1>Feedback</h1>
        <label for="Ratings">Ratings</label>
        <input type="text" placeholder="Ratings">  
        <label for="Feedback"id= "sha">Feedback</label>
        <input type="text"placeholder=Feedback><br>
        <button class="dot">submit</button>
    </form>
</div>
</body>
</html>