<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="shafeek">
        <form action="">
            <h1>Add Friends</h1>
    <form>
        <label for="Friend Name1"></label>
        <input type="text" placeholder="Friendname 1">
        <br>
        <br>
        <label for="mobile number"></label>
        <input type="number" placeholder="Mobile Number">
        <br>
        <br>
        <label for="Friendname2"></label>
        <input type="text"placeholder="Friend Name2">
        <br>
        <br>
        <label for="Mobile Number"></label>
        <input type="number"placeholder="Mobile Number">
        <br>
        <br>
        <label for="Friend Name 3"></label>
        <input type="text"placeholder="Friend Name3">
        <br>
        <br>
        <label for="Mobile Number"></label>
        <input type="number"placeholder="Mobile Number">
        <br>
        <br>
        <label for="emergency number"></label>
        <input type="number" placeholder="Emergency Number">
        <br>
        <br>

        <br>
        <div style="margin: 10px;">
        

        <input type="button"value='submit' class="dot" >
        <br>
        <br>
    </div>
    </form>
</div>
</body>
</html>