<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <table border="1">
        <tr>
            <th>si no</th>
            <th>user name</th>
            <th>email</th>
            <th>actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>fawas</td>
            <td>fawaspachu3704@gmail.com</td>
            <td>
                <button><i class="material-icons">edit</i></button>
                <button><i class="material-icons">delete</i></button>
            </td>
        </tr>
    </table>
</body>
</html>